* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: #51453B;
	line-height: 29px;
  margin-left: 20px;
}

h3 {
	font-size: 18px;
	color: #000000;
	line-height: 23px;
}

.head-section {
  background-color: black;
  height: 35px;
}

.glyphicon {
	margin-right: 10px;
}

.banner.main {
	height: 200px;
	background: url("/static/ban.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}

.padding-top, .padding-bottom {
	padding-top: 20px;
}
.patch{
  background-color: orange;
}

.phone_availability, .btn{
  background-color: #26B280;
}

.creator {
	margin-top: 10px;
	text-align: right;
	float:right;
}
.creator img {
	width: 100px;
	border-radius: 50%;
}
.creator figcaption {
	font-size: 14px;
	color: #51453B;
	font-weight: 400;
}

.phone-model {
	background: orange;
	padding: 20px;
	margin: 20px;
}
.phone-price {
	font-weight: 700;
}

.flash {
	background-color: #3385ff;
	width:100%;
	text-decoration: none;
  text-align: center;
}
