{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row banner main">
		<div class="col-md-11 padding-none">
			<h1>Edit {{smartPhone.name}}</h1>
		</div>
	</div>
	<div class="row padding-top patch">
		<div class="col-md-12">
			<form action="{{ url_for('editSmartphone',smartPhone_id = smartPhone.id)}}" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" class="form-control" name="name" value="{{smartPhone.name }}">
					<div class="padding-bottom"></div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save
					</button>
					<button class="btn btn-default delete">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
					<a href = '{{url_for('showSmartphones')}}'></a>
				</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
